qr-code-component-main/README-template.md
qr-code-component-main/README.md
qr-code-component-main/style-guide.md
qr-code-component-main/design/desktop-design.jpg
qr-code-component-main/design/desktop-preview.jpg
qr-code-component-main/design/mobile-design.jpg
